# API Excludes
packages/api/out

# Web Excludes
packages/web/build

# Environment
.env
.env
!.env.production

# dependencies
.pnp
.pnp.js
node_modules
.webpack-cache
bundle-stats.json

# testing
coverage

# misc
.DS_Store
*.pem
tmp
public
.ssh

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lerna
*.lerna_backup

# Editor
.vscode
.idea

# Terraform
packages/terraform/.terraform
*.tfstate.*
*.tfstate