name: "Web Deploy (Production)"

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "packages/web/**/*"

jobs:
  web-deploy-production:
    name: "Web Deploy (Production)"
    runs-on: ubuntu-latest
    env:
      terraform: ./packages/terraform
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2.1.0

      - name: "Setup - Node"
        uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: "Run - Install Packages"
        working-directory: ${{ env.terraform }}
        run: npm install

      - name: "Run - Trigger Web Application Deployment"
        working-directory: ${{ env.terraform }}
        run: ./node_modules/.bin/ts-node scripts/trigger-deploy.ts
        env:
          TFVARS_PATH: "main/prod/prod.auto.tfvars"
          APPLICATION_NAME_TFVAR: "web_application_name"
          DO_TOKEN: ${{ secrets.PROD_TF_VAR_DO_TOKEN }}

